<sky-tile tileName="Opportunities">
  <sky-tile-title> Opportunities </sky-tile-title>
  <sky-tile-content>
    <sky-tile-content-section>
      <div class="sky-margin-stacked-sm">
        <sky-key-info class="sky-margin-inline-xxl">
          <sky-key-info-value class="sky-font-display-3">{{ formatCurrency(keyMetrics.ask) }}</sky-key-info-value>
          <sky-key-info-label>Ask</sky-key-info-label>
        </sky-key-info>
        <sky-key-info class="sky-margin-inline-xxl">
          <sky-key-info-value class="sky-font-display-3">{{ formatCurrency(keyMetrics.funded) }}</sky-key-info-value>
          <sky-key-info-label>Funded</sky-key-info-label>
        </sky-key-info>
        <sky-key-info>
          <sky-key-info-value class="sky-font-display-3">{{ formatCurrency(keyMetrics.expected) }}</sky-key-info-value>
          <sky-key-info-label>Expected</sky-key-info-label>
        </sky-key-info>
      </div>

      <sky-bar-chart [chartHeight]="320" [config]="chartConfig" />
    </sky-tile-content-section>
  </sky-tile-content>
</sky-tile>