
.sky-theme-modern.sky-theme-brand-base {
    --sky-color-viz-axis: var(--bb-color-gray-500);
    --sky-color-viz-category-1: var(--bb-color-teal-500);
    --sky-color-viz-category-2: var(--bb-color-purple-800);
    --sky-color-viz-category-3: var(--bb-color-blue-500);
    --sky-color-viz-category-4: var(--bb-color-sky-900);
    --sky-color-viz-category-5: var(--bb-color-orange-600);
    --sky-color-viz-category-6: var(--bb-color-red-800);
    --sky-color-viz-category-7: var(--bb-color-pink-600);
    --sky-color-viz-category-8: var(--bb-color-green-700);
    --sky-color-viz-diverge-neg-1: var(--bb-color-red-100);
    --sky-color-viz-diverge-neg-10: var(--bb-color-red-1000);
    --sky-color-viz-diverge-neg-2: var(--bb-color-red-200);
    --sky-color-viz-diverge-neg-3: var(--bb-color-red-300);
    --sky-color-viz-diverge-neg-4: var(--bb-color-red-400);
    --sky-color-viz-diverge-neg-5: var(--bb-color-red-500);
    --sky-color-viz-diverge-neg-6: var(--bb-color-red-600);
    --sky-color-viz-diverge-neg-7: var(--bb-color-red-700);
    --sky-color-viz-diverge-neg-8: var(--bb-color-red-800);
    --sky-color-viz-diverge-neg-9: var(--bb-color-red-900);
    --sky-color-viz-diverge-pos-1: var(--bb-color-blue-100);
    --sky-color-viz-diverge-pos-10: var(--bb-color-blue-1000);
    --sky-color-viz-diverge-pos-2: var(--bb-color-blue-200);
    --sky-color-viz-diverge-pos-3: var(--bb-color-blue-300);
    --sky-color-viz-diverge-pos-4: var(--bb-color-blue-400);
    --sky-color-viz-diverge-pos-5: var(--bb-color-blue-500);
    --sky-color-viz-diverge-pos-6: var(--bb-color-blue-600);
    --sky-color-viz-diverge-pos-7: var(--bb-color-blue-700);
    --sky-color-viz-diverge-pos-8: var(--bb-color-blue-800);
    --sky-color-viz-diverge-pos-9: var(--bb-color-blue-900);
    --sky-color-viz-gridline: var(--bb-color-gray-200);
    --sky-color-viz-marker: var(--bb-color-gray-900);
    --sky-color-background-container-base: var(--bb-color-white);
    --sky-color-text-default: var(--bb-color-gray-900);
    --sky-color-border-container-base: var(--bb-color-gray-300);
    --sky-elevation-overlay-100: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    --sky-space-inset-balanced-s: 8px;
    --sky-color-viz-sequence-1: var(--bb-color-teal-100);
    --sky-color-viz-sequence-10: var(--bb-color-teal-1000);
    --sky-color-viz-sequence-2: var(--bb-color-teal-200);
    --sky-color-viz-sequence-3: var(--bb-color-teal-300);
    --sky-color-viz-sequence-4: var(--bb-color-teal-400);
    --sky-color-viz-sequence-5: var(--bb-color-teal-500);
    --sky-color-viz-sequence-6: var(--bb-color-teal-600);
    --sky-color-viz-sequence-7: var(--bb-color-teal-700);
    --sky-color-viz-sequence-8: var(--bb-color-teal-800);
    --sky-color-viz-sequence-9: var(--bb-color-teal-900);
}

    .sky-theme-modern.sky-theme-brand-base.sky-theme-brand-blackbaud {
    --bb-border-radius-0: 0rem;
    --bb-border-radius-012: .125rem;
    --bb-border-radius-025: .25rem;
    --bb-border-radius-050: .5rem;
    --bb-border-radius-pill: 999rem;
    --bb-border-radius-round: 50%;
    --bb-border-style-dotted: dotted;
    --bb-border-style-solid: solid;
    --bb-brand-name: "Blackbaud";
    --bb-color-black: #000000;
    --bb-color-blocking: rgba(255, 255, 255, .7);
    --bb-color-blue-100: #eef3fc;
    --bb-color-blue-1000: #0d2040;
    --bb-color-blue-1100: #0b1b35;
    --bb-color-blue-1200: #081325;
    --bb-color-blue-200: #d5e1f7;
    --bb-color-blue-25: #fbfcfe;
    --bb-color-blue-250: #bfd3f2;
    --bb-color-blue-300: #aac4ee;
    --bb-color-blue-400: #80a6e6;
    --bb-color-blue-50: #f4f8fd;
    --bb-color-blue-500: #5589dd;
    --bb-color-blue-600: #2b6bd5;
    --bb-color-blue-700: #2256aa;
    --bb-color-blue-800: #1a4080;
    --bb-color-blue-900: #112b55;
    --bb-color-brand-impact_green: #0cd973;
    --bb-color-brand-trusted_blue: #004054;
    --bb-color-gray-100: #eeeeef;
    --bb-color-gray-1000: #1e2229;
    --bb-color-gray-1100: #161a1f;
    --bb-color-gray-1200: #0f1114;
    --bb-color-gray-200: #e0e1e2;
    --bb-color-gray-25: #fbfbfb;
    --bb-color-gray-300: #c2c4c6;
    --bb-color-gray-400: #a3a6a9;
    --bb-color-gray-50: #f4f4f5;
    --bb-color-gray-500: #85888d;
    --bb-color-gray-600: #6b6f74;
    --bb-color-gray-700: #51555c;
    --bb-color-gray-800: #3b4047;
    --bb-color-gray-900: #252b33;
    --bb-color-green-100: #d8f9e9;
    --bb-color-green-1000: #033019;
    --bb-color-green-1100: #022312;
    --bb-color-green-1200: #01160b;
    --bb-color-green-200: #a8f1cd;
    --bb-color-green-25: #fafefc;
    --bb-color-green-300: #6de8ab;
    --bb-color-green-400: #0cd973;
    --bb-color-green-50: #ecfcf4;
    --bb-color-green-500: #0abb63;
    --bb-color-green-600: #099c53;
    --bb-color-green-700: #077e43;
    --bb-color-green-800: #055f33;
    --bb-color-green-900: #044525;
    --bb-color-orange-100: #feede0;
    --bb-color-orange-1000: #451d00;
    --bb-color-orange-1100: #311400;
    --bb-color-orange-1200: #1d0c00;
    --bb-color-orange-200: #fcd7bd;
    --bb-color-orange-25: #fffcfa;
    --bb-color-orange-300: #fab98a;
    --bb-color-orange-400: #f8944d;
    --bb-color-orange-50: #fef6f0;
    --bb-color-orange-500: #f56600;
    --bb-color-orange-600: #ce5600;
    --bb-color-orange-700: #a74500;
    --bb-color-orange-800: #7f3500;
    --bb-color-orange-900: #622900;
    --bb-color-pink-100: #fdecfd;
    --bb-color-pink-1000: #3f193d;
    --bb-color-pink-1100: #30132f;
    --bb-color-pink-1200: #1d0c1c;
    --bb-color-pink-200: #fcd9fa;
    --bb-color-pink-25: #fef9fe;
    --bb-color-pink-300: #fac0f7;
    --bb-color-pink-400: #f697f2;
    --bb-color-pink-50: #fef2fd;
    --bb-color-pink-500: #f261eb;
    --bb-color-pink-600: #c650c1;
    --bb-color-pink-700: #a542a0;
    --bb-color-pink-800: #853581;
    --bb-color-pink-900: #5c2559;
    --bb-color-purple-100: #f2e6fd;
    --bb-color-purple-1000: #351d49;
    --bb-color-purple-1100: #271535;
    --bb-color-purple-1200: #190e22;
    --bb-color-purple-200: #e9d3fb;
    --bb-color-purple-25: #fdfbff;
    --bb-color-purple-300: #debdfa;
    --bb-color-purple-400: #d0a0f7;
    --bb-color-purple-50: #f9f2fe;
    --bb-color-purple-500: #c081f5;
    --bb-color-purple-600: #b061f2;
    --bb-color-purple-700: #8d4ec2;
    --bb-color-purple-800: #6d3c96;
    --bb-color-purple-900: #4d2b6a;
    --bb-color-red-100: #fae7e8;
    --bb-color-red-1000: #4a1415;
    --bb-color-red-1100: #380f10;
    --bb-color-red-1200: #270a0b;
    --bb-color-red-200: #f5cccd;
    --bb-color-red-25: #fefbfb;
    --bb-color-red-300: #f1b4b5;
    --bb-color-red-400: #ea9596;
    --bb-color-red-50: #fdf3f3;
    --bb-color-red-500: #e36d6f;
    --bb-color-red-600: #d93a3d;
    --bb-color-red-700: #ae2e31;
    --bb-color-red-800: #822325;
    --bb-color-red-900: #641b1c;
    --bb-color-rgba-purple-600-40: rgba(176, 97, 242, .4);
    --bb-color-rgba-sky-600-40: rgba(0, 207, 255, .4);
    --bb-color-scrim: rgba(37, 43, 51, .5);
    --bb-color-sky-100: #d6f7ff;
    --bb-color-sky-1000: #002933;
    --bb-color-sky-1100: #002129;
    --bb-color-sky-1200: #001519;
    --bb-color-sky-200: #a8efff;
    --bb-color-sky-25: #fafeff;
    --bb-color-sky-300: #66e2ff;
    --bb-color-sky-400: #00cfff;
    --bb-color-sky-50: #ebfbff;
    --bb-color-sky-500: #00b2db;
    --bb-color-sky-600: #0095b8;
    --bb-color-sky-700: #007894;
    --bb-color-sky-800: #005b70;
    --bb-color-sky-900: #004252;
    --bb-color-slate-100: #f1f3f7;
    --bb-color-slate-1000: #1a2231;
    --bb-color-slate-1100: #141b26;
    --bb-color-slate-1200: #0c1016;
    --bb-color-slate-200: #d9dfe9;
    --bb-color-slate-25: #fcfdfd;
    --bb-color-slate-250: #cad2e1;
    --bb-color-slate-300: #bac5d8;
    --bb-color-slate-400: #98a9c4;
    --bb-color-slate-50: #f6f8fa;
    --bb-color-slate-500: #7289af;
    --bb-color-slate-600: #536f9d;
    --bb-color-slate-700: #42597e;
    --bb-color-slate-800: #32435e;
    --bb-color-slate-900: #212c3f;
    --bb-color-teal-100: #dcf6f5;
    --bb-color-teal-1000: #022a28;
    --bb-color-teal-1100: #011e1d;
    --bb-color-teal-1200: #011312;
    --bb-color-teal-200: #abe9e7;
    --bb-color-teal-25: #fafefe;
    --bb-color-teal-300: #60d5d2;
    --bb-color-teal-400: #07beb8;
    --bb-color-teal-50: #ebfaf9;
    --bb-color-teal-500: #06a39e;
    --bb-color-teal-600: #058984;
    --bb-color-teal-700: #046e6b;
    --bb-color-teal-800: #035755;
    --bb-color-teal-900: #02413f;
    --bb-color-transparent: rgba(0, 0, 0, 0);
    --bb-color-white: #ffffff;
    --bb-color-yellow-100: #feefd6;
    --bb-color-yellow-1000: #32230a;
    --bb-color-yellow-1100: #231907;
    --bb-color-yellow-1200: #191205;
    --bb-color-yellow-200: #fddfae;
    --bb-color-yellow-25: #fffcf7;
    --bb-color-yellow-300: #fccb79;
    --bb-color-yellow-400: #fbb034;
    --bb-color-yellow-50: #fff6e7;
    --bb-color-yellow-500: #d8972d;
    --bb-color-yellow-600: #b57f25;
    --bb-color-yellow-700: #92661e;
    --bb-color-yellow-800: #6e4d17;
    --bb-color-yellow-900: #503811;
    }